* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  color: rgb(255, 198, 198);
}

.Section {
  height: 100vh;
  background: rgb(70, 64, 64);
  /*border: 2px solid black;*/
}
.hoodRecent{
  float: left;
  width: 49%;
}

.officerSearch{
  float: right;
  width: 49%;
}
ul {
  list-style: none
}
